<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>A list of courses</title>
</head>

<body>
		<h1>A List of Courses</h1>

	<div th:each="course: ${courses}">
			<a th:href="@{/course(id=${course.id})}" th:text="${course.name}"></a>
	</div>
	
	<form method="POST">
		<label>Enter name, description and instructor: </label>
		<input type="text" name="name" />
		<input type="text" name="description" />
		<input type="text" name="instructor" />
		<button th:formaction="@{/addCourse}">Add Course</button>	
		</form>
		
		
	<form>
		<label>Enter id of course to remove:</label>
		<input type="text" name="id" />
		<button th:formaction="@{removeCourse}">delete</button>
	</form>
		
	

</body>
</html>